[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension.git
[submodule "public"]
	path = public
	url = git@github.com:leadinchina/leadinchina.github.io.git
